node_modules
.idea
yarn-error.log
dist/build.js
.DS_Store
types/phaser/index.d.ts
.vscode/

hbt-server/public/client/main.js
hbt-server/public/client/dm.js

# Don't commit ts-to-js files, they should be built when the server is launched
hbt-server/build/

# Don't commit dev builds
hbt-mainscreen/dist/devbundle.js
hbt-dmscreen/dist/devbundle.js

# Don't commit spoilers 8)
hbt-server/public/encounters/*
!hbt-server/public/encounters/testcampaign
hbt-server/public/idle/*
!hbt-server/public/idle/default.jpg
